@model SantaMarta.Data.Models.SubCategories.SubCategories
@{
    Layout = null;
    ViewBag.Title = "Edit";
}
@*modal*@
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" id="myModalLabel">Modificar Sub-Categoria</h3>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("Edit", "SubCategories", null, new AjaxOptions
    {

        HttpMethod = "POST",
        Url = Url.Action("Edit", "SubCategories"),
        UpdateTargetId = "modal-content",
        OnSuccess = "closeModalEditSubCategory",
        InsertionMode = InsertionMode.Replace

    },
                                        new { @class = "form-horizontal", role = "form", id = "frmEdit" }))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        //textbox
        <div class="box-body">
            Nombre:
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", Type = "text", placeholder = "Nombre", id = "name", maxlength = "50" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", id = "nameValidation" })
        </div>@*botones*@
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <input id="btnCreate" type="submit" value="Guardar" class="btn btn-success" />
        </div>
    }
</div>
<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>