@model SantaMarta.Data.Models.AssetsLiabilities.AssetsLiabilities
@{
    Layout = null;
    ViewBag.Title = "Delete";
}
@*modal*@
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" id="myModalLabel">Anular Movimeinto</h3>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("Delete", "AssetsLiabilities", null, new AjaxOptions
    {

        //HttpMethod = "POST",
        Url = Url.Action("Delete", "AssetsLiabilities"),
        UpdateTargetId = "modal-content",
        OnSuccess = "closeModalDelete",
        InsertionMode = InsertionMode.Replace

    },
                                  new { @class = "form-horizontal", role = "form", id = "frmDelete" }))
    {

        @Html.AntiForgeryToken()
        //textbox
        <div class="box-body">
            <p>Esta seguro de anular este moviento?</p>
        </div>@*botones*@
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <input id="btnCreate" type="submit" value="Borrar" class="btn btn-danger" />
        </div>
    }
</div>