@{
    ViewBag.Title = "Home";
}

@section Menu {
    @Scripts.Render("~/Scripts/Charts/ChartsJs/menu")
}
@Scripts.Render("~/AdminPacket/plugins/jquery/js")

@if (Session["nickname"] == null)
{
    Response.Redirect("~/Login/Index");

}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

@*<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Movimientos</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <div id="ActivoPasivo" style="width:100%; height: 500px"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Cuentas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <div id="Cuenta" style="width:100%; height: 100%"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Categorias</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body">
                <div class="chart">
                    <div id="Categoria" style="width:100%; height: 100%"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="control-sidebar-bg"></div>


<style>
    #chart_display {
        height: 400px;
        width: 650px;
    }
</style>
<script>
    //initilize globar variable for hold chart data
    google.load("visualization", "1", { packages: ["corechart"] });
</script>
<script>
    var chartData;
    // get the chart data from the server.
    $(document).ready(function () {
        $.ajax({
            url: "/Home/getCategoria",
            data: "{}",
            dataType: "json",
            type: "POST",
            contentType: "application/json; chartset=utf-8",
            success: function (data) {
                debugger;
                chartData = data;
                // Callback that creates and populates a data table,
                // instantiates the pie chart, passes in the data and draws it.
                //Creates a data table for storing the map data .chart api access this data for displaying
                var data = new google.visualization.DataTable();
                //Adding columns to data table to insert the chart data
                data.addColumn('string', 'Nombre de Categoria');
                data.addColumn('number', 'Monto');
                //bind the data to the data table using for loop
                for (var i = 0; i < chartData.length; i++) {
                    data.addRow([chartData[i].Nombre, chartData[i].monto]);
                }
                // Instantiate and draw our chart, passing in some options
                var chart = new google.visualization.PieChart(document.getElementById('Categoria'));
                chart.draw(data,
                      {
                          title: "Movimientos segun la categoria",//title of the pie chart
                      });
            },
            // ajax error display
            error: function () {
                alert("Error loading data! Please try again.");
            }
        });
    });
</script>

<script>
    var chartData;
    $(document).ready(function () {
        $.ajax({
            url: "/Home/getCuenta",
            data: "{}",
            dataType: "json",
            type: "POST",
            contentType: "application/json; chartset=utf-8",
            success: function (data) {
                debugger;
                chartData = data;
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Nombre de Categoria');
                data.addColumn('number', 'Monto');
                for (var i = 0; i < chartData.length; i++) {
                    data.addRow([chartData[i].Nombre, chartData[i].monto]);
                }
                var chart = new google.visualization.PieChart(document.getElementById('Cuenta'));
                chart.draw(data,
                      {
                          title: "Movimientos segun la cuenta",
                      });
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        });
    });
</script>

<script>
    var chartData;
    $(document).ready(function () {
        $.ajax({
            url: "/Home/getActivoPasivo",
            data: "{}",
            dataType: "json",
            type: "POST",
            contentType: "application/json; chartset=utf-8",
            success: function (data) {
                debugger;
                chartData = data;
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'v');
                data.addColumn('number', 'Ingreso');
                data.addColumn('number', 'Egreso');
                for (var i = 0; i < chartData.length; i++) {
                    data.addRow([chartData[i].Fecha, chartData[i].activo, chartData[i].pasivo]);
                }
                var chart = new google.visualization.AreaChart(document.getElementById('ActivoPasivo'));
                chart.draw(data,
                      {
                          title: "Movimientos de Ingresos y Egresos",
                      });
            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        });
    });*@
</script>