@model SantaMarta.Data.Models.Accounts.Accounts
@{
    Layout = null;
    ViewBag.Title = "Delete";
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel">Borrar Usuario</h4>
</div>
<div class="modal-body">
    @using (Ajax.BeginForm("Delete", "Accounts", null, new AjaxOptions
    {
        Url = Url.Action("Delete", "Accounts"),
        UpdateTargetId = "modal-content",
        OnSuccess = "closeModalDelete",
        InsertionMode = InsertionMode.Replace

    },
                        new { @class = "form-horizontal", role = "form", id = "frmDelete" }))
    {

        @Html.AntiForgeryToken()
        <div class="box-body">
            <p>Estas seguro de borrar esta cuenta?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <input id="btnCreate" type="submit" value="Borrar" class="btn btn-danger" />
        </div>
    }
</div>
