@model SantaMarta.Data.Models.Products.Products

@{
    Layout = null;
    ViewBag.Title = "Detalles";
}
@*modal*@
<div style="padding: 20px 30px; background: #00a65a; z-index: 999999; font-size: 16px; font-weight: 600;" class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title" id="myModalLabel">Informacion del Cliente</h3>
</div>

<div class="modal-body">

    <div class="box-body">
        <label> Codigo: </label>
        @Html.DisplayFor(model => model.Code)
        <br>
        <label>Nombre:</label>
        @Html.DisplayFor(model => model.Name)
        <br>
        <label>Precio:</label>
        @Html.DisplayFor(model => model.Price)
        <br>
        <label>Descripcion:</label>
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
    </div>

</div>

<script src="~/scripts/jquery.validate.min.js"></script>
<script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>


