@model SantaMarta.Data.Models.Users.Users
@{
    Layout = null;
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
@*HEAD*@
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*CSS*@
    <link href="~/AdminPacket/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/stylesLogin.css" rel="stylesheet" />
    <title>Santa Marta</title>
</head>
@*BODY*@
<body>
    <section class="container login-form">
        <form method="post" role="login">
            <section>
                <img src="~/Img/logo.png" alt="" class="img-responsive" />
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Nickname, new { @class = "form-control input-lg", type = "text", placeholder = "Username", maxlength = "15" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", type = "password", placeholder = "Password", maxlength = "10" })
                </div>
                <a></a>
                <button type="submit" name="go" class="btn btn-lg btn-block btn-success" />Ingresar</button>
                @Html.ValidationSummary()
            </section>
        </form>
        <br />

        @if ((string)TempData["message"] == "Error")
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-ban"></i> Alert!</h4>
                <p>Error en la Base de Datos</p>
            </div>
        }

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="~/scripts/jquery.validate.min.js"></script>
        <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/scripts/jquery-3.1.1.min.js"></script>
        <script src="~/AdminPacket/bootstrap/js/bootstrap.min.js"></script>
    </section>
</body>
</html>